/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-borer-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}
button {
  background: transparent;
  cursor: pointer;
  border: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  /*margin: 10px 0px;*/
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  background: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}
#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 8px;
}
.navbar_logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar_menu {
  display: flex;
}
.navbar_menu_item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-borer-radius);
}
.navbar_menu_item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-borer-radius);
}
.navbar_menu_item:hover {
  background-color: var(--color-dark-pink);
}
.navbar_toggle_btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url(./images/main_bg.png) center/cover no-repeat;
  text-align: center;
  padding: 40px;
  padding-top: 120px;
}
.home_avart {
  width: 250px;
  height: 250px;
  transform: scale(80%);
  background: url(./images/main_pic.png) center no-repeat;
  margin: auto;
}

.home_title,
.home_descriptin {
  color: var(--color-pink);
}
.home_contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-pink);
  border-radius: var(--size-borer-radius);
}

/* Section Common */
.section {
  /*공통적인것을 모아보자*/
  padding: 50px;

  text-align: center;
  margin: auto;
  /*height: 100vh;*/
}
.section_container {
  max-width: 1200px;
  /* 그 안에 있는 글씨만 1200px까지만 적용하겠다.*/
  margin: auto;
}
/* About */
.about_majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.major_icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.2);
}
.major_icon i {
  transition: all var(--animation-duration) ease;
}
.major_icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  /*background-color: #feb546;*/
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major_title,
.major_description {
  color: var(--color-dark-grey);
}
.major_description {
  font-size: var(--font-small);
}
.job {
  display: flex;
  align-items: center;
}
.job img {
  width: 10%;
  height: 10%;
  margin: 12px 0;
}
.job_description {
  margin: 0 16px;
  text-align: left;
}
.job_name,
.job_period {
  color: var(--color-light-grey);
}
.job_name {
  font-size: var(--font-small);
}
.job_period {
  font-size: var(--font-micro);
}

/* Skill */

#skill {
  background-color: var(--color-yellow);
}
.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset_title {
  color: var(--color-white);
}
.skillset_left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
.skill_bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}
.skill_value {
  height: 3%;
  background-color: var(--color-orange);
}
.skill {
  margin-bottom: 32px;
}
.skillset_right {
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-grey);
}
.skill_description {
  display: flex;
  justify-content: space-between;
}
.tools,
.etc {
  padding: 20px;
}

/* Works */
.catagory_btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-borer-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}
.work_categories {
  margin: 40px;
}
.catagory_btn.active,
.catagory_btn:hover {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
}
.catagory_btn.active .category_count,
.catagory_btn:hover .category_count {
  top: 0;
  opacity: 1;
}

.category_count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration);
}
.work_project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  position: relative;
  width: 280px;
  height: 250px;
  margin: 2px;
  border-radius: 5%;
  background-color: var(--color-light-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_img {
  max-width: 90%;
  max-height: 90%;
}
.project:hover .project_description {
  opacity: 0.6;
  transform: translateY(0px);
  /*transform: translate3d(-30px, 30px, 50px);*/
}
.project_description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);

  /*perspective: 1000px;*/

  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease;
}
.project_description h3 {
  color: var(--color-white);
}
.project_description h3:after {
  content: "";
  width: 25px;
  height: 2px;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
  display: block;
}

/* testimonial */
#testimonial {
  background-color: var(--color-light-white);
}
.testimonials {
  margin: 32px;
}
.testimonial {
  display: flex;
  align-items: center;
}
.testimonial_avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimonial_avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial_avatar:nth-child(even) {
  margin-left: 40px;
}
.testimonial_speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-borer-radius);
}
.testimonial_speech-bubble p {
  color: var(--color-dark-grey);
  margin-bottom: 20px;
}
.testimonial_speech-bubble a {
  color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: var(--color-dark-pink);
}
.contact_title,
.contact_email,
.contact_rights {
  color: var(--color-white);
}
.contact_title {
  margin: 32px 0;
}
.contact_links {
  font-size: var(--font-large);
  margin: 24px 0;
}
.contact_links i {
  transition: all var(--animation-duration) ease;
}
.contact_links i:hover {
  transform: scale(1.2);
  color: var(--color-yellow);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  color: var(--color-white);
  font-size: var(--font-medium);
  background-color: var(--color-pink);
  border-radius: 50%;
  /*display: none;이걸하게되면 animation이 안듣는다. opacity로 준다.*/
  opacity: 0;
  pointer-events: none; /*opacity를 줬지만 o일때 포인터가 잡히므로 none로 한다.*/
  transition: all 300ms ease-in;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar_toggle_btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: start;
  }
  .navbar_menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
    display: none;
  }
  .about_majors {
    flex-direction: column;
    margin: 40px 0;
    justify-content: space-between;
  }
  .major {
    margin-bottom: 38px;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
  .testimonial_avatar {
    width: 80px;
    height: 80px;
  }
}
